.share-button {
  .ktalk-share {
    position: relative;
    z-index: 3;
    font-size: 0.9rem;
    display: inline-block;
    font-family: "GowunBatang-Regular", serif;
    img {
      width: 0.7rem;
      height: 0.7rem;
    }
  }
}
